
/* GLOBAL CLASSES */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.relative {
    position: relative;
}

.white {
    color: #fff;
}

.nav-color {
    color: #d35649;
}

.bg-color-orange {
    background-color : #dd675a;  
}


/* NAVIGATION */

.right-side-nav {
    justify-content: center;
}

.right-side-nav li {
    margin-right: 50px;
}

.logo {
    width: 50px;
    color: white;
}

.right-side-nav li a span {
    display: none;
}


/* SHOWCASE */

.main-showcase{
   background-image:url(./images/showcase-image.jpg) ;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 400px;
   
}

.main-showcase h1 {
    top: 50px;
    font-size: 35px;
}

form {
    width: 40%;
    margin: 0 auto;
    top: 90px;
    flex-direction: column;
}

.search {
    padding: 5px 10px; 
    margin-top: 10px;
}

input {
    margin-bottom: 15px;
}

/* STEPS TO FOLLOW */
.steps-to-follow-header-div {
    margin-top: 30px;
}

.steps-to-follow-header {
    font-size: 23px;
}

.steps-img {
    width: 50px;
}

.fa-umbrella-beach {
    font-size: 40px;
}

/* MID SECTION */
.mid-sec-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.mid-sec-button {
   width: 20%;
}

.mid-section-grid {
    height: auto;
}

.mid-sec-div h3{
    font-size: 18px;
}

.mid-sec-div p{
    font-size: 16px;
}

.mid-sec-div button {
    font-size: 18px;
}

.resorts-rounded-div {
    height: auto;
}

.mid-section-grid-2 {
    background-color: #70696f;
}

.mid-section-grid-3 {
    background-color: rgb(21, 201, 201);
}

/* FOOTER */
.first-footer-section {
    background-color: #000;
}

.footer-links {
    border-bottom: 1px solid #fff;
}

.footer-input {
    background-color: #000;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer-input-label {
    background-color: #000;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.lower-footer-grid {
    background-color: gray;
}

.lower-footer-grid li {
    margin-right: 15px;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin-in,
.fa-instagram {
    font-size: 30px;
    color: white;
}
/* MEDIA QUERIES */
@media (min-width: 768px) { 
    /* NAVIGATION */
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* MID SECTION GRID */
    .mid-section-grid {
        display: grid;
        grid-template-columns: 70% 30%;
        padding: 20px 0;
    }

    .footer-links-ul {
        display: flex;
        margin: 0;
    }

    .footer-links {
        border-bottom: none;

    }

    /* NAVIGATION */
    .main-showcase h1 {
        top: 50px;
        font-size: 30px;
    }

    form {
        padding: 20px 100px;
        background-color: honeydew;
        
    }

    form input{
        height: 30px;
    }
    
    form label {
        height: 28px;
    }

    /* footer */
    .footer-links {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-weight: bold;
    }
    
    .first-footer-section .footer-links-ul .footer-link-logo {
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: 100px;
        height: 100px;
    
    }
    
    
}
@media (min-width: 1024px) { 
     /* right-side-nav */
     .right-side-nav li a span {
        display: block;
    }
    /* steps to follow */
    .steps-to-follow-gird {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    /* sub-cont-about-grid */
    .sub-cont-about-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* lower-footer-grid */
    .lower-footer-grid {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .fa-facebook,
.fa-twitter,
.fa-linkedin-in,
.fa-instagram {
    font-size: 24px;
    color: white;
}

.footer-links-ul {
    margin: 0 20px;
}



}
