* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GLOBAL CLASSES */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.white-text {
    color: #fff;
}

/* NAVIGATION */
header {
    background-color : #d35649;
    text-align: center;
}

.right-side-nav {
    justify-content: center;
}

.right-side-nav li {
    margin-right: 50px;
}

.logo {
    width: 50px;
}


/* SHOWCASE */

.main-showcase{
   bac
}




/* MEDIA QUERIES */
@media (min-width: 768px) { }
@media (min-width: 1024px) { }